@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@300;400;700&family=Kablammo&family=Raleway:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  font-family: "Inter", sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  font-size: 18px;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container__header {
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

form {
  position: relative;
}

.task {
  margin-top: 50px;
}

.task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding-left: 30px;
}

.task__list-item {
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox {
  margin-right: 15px;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type=checkbox]:not(:checked) + label,
[type=checkbox]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

[type=checkbox]:not(:checked) + label:before,
[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

[type=checkbox]:not(:checked) + label:after,
[type=checkbox]:checked + label:after {
  content: "✓";
  position: absolute;
  top: 0.525em;
  left: 0.18em;
  font-size: 1.375em;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type=checkbox]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type=checkbox]:disabled:not(:checked) + label:before,
[type=checkbox]:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type=checkbox]:disabled:checked + label:after {
  color: #777;
}

[type=checkbox]:disabled + label {
  color: #aaa;
}

.task__delete-btn {
  border: none;
  background: inherit;
  cursor: pointer;
  margin-left: auto;
  margin-right: 30px;
  -webkit-transition: stroke 0.4s ease-in-out, fill 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: stroke 0.4s ease-in-out, fill 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.wrapper.darken {
  color: #D6DFE8;
  background: #142028;
}
.wrapper.darken .switch-theme-btn {
  border: none;
  background: inherit;
  stroke: #CB9821;
  fill: #CB9821;
  cursor: pointer;
  -webkit-transition: fill 0.3s, stroke 0.3s;
  transition: fill 0.3s, stroke 0.3s;
}
.wrapper.darken .switch-theme-btn:hover {
  fill: #e3b955;
  stroke: #e3b955;
}
.wrapper.darken .main-section__title {
  font-size: 60px;
  color: #D6DFE8;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input {
  width: 100%;
  background: #697888;
  color: #D6DFE8;
  border: none;
  outline: none;
  padding: 17px 25px;
  font-size: 20px;
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  margin-top: 80px;
  -webkit-transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::-webkit-input-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::-moz-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input:-ms-input-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::-ms-input-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__btn {
  position: absolute;
  top: 96px;
  right: 23px;
  border: none;
  background: inherit;
  color: #D6DFE8;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__btn:hover {
  opacity: 0.7;
}
.wrapper.darken .task__list {
  color: #D6DFE8;
}
.wrapper.darken [type=checkbox]:not(:checked) + label:after,
.wrapper.darken [type=checkbox]:checked + label:after {
  color: #ECC424;
}
.wrapper.darken [type=checkbox]:not(:checked) + label:before,
.wrapper.darken [type=checkbox]:checked + label:before {
  background: #142028;
}
.wrapper.darken .task__delete-btn {
  stroke: #D6DFE8;
  fill: #D6DFE8;
}
.wrapper.darken .task__delete-btn:hover {
  opacity: 0.5;
}

.wrapper.lighten {
  color: #192D45;
  background: #ECEBE9;
}
.wrapper.lighten .switch-theme-btn {
  border: none;
  background: inherit;
  stroke: #29354B;
  fill: #29354B;
  cursor: pointer;
  -webkit-transition: fill 0.3s, stroke 0.3s;
  transition: fill 0.3s, stroke 0.3s;
}
.wrapper.lighten .switch-theme-btn:hover {
  fill: #44587c;
  stroke: #44587c;
}
.wrapper.lighten .main-section__title {
  font-size: 60px;
  color: #192D45;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input {
  width: 100%;
  background: #ced6dd;
  color: #192D45;
  border: none;
  outline: none;
  padding: 17px 25px;
  font-size: 20px;
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  margin-top: 80px;
  -webkit-transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::-webkit-input-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::-moz-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input:-ms-input-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::-ms-input-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__btn {
  position: absolute;
  top: 96px;
  right: 23px;
  border: none;
  background: inherit;
  color: #192D45;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__btn:hover {
  opacity: 0.7;
}
.wrapper.lighten .task__list {
  color: #192D45;
}
.wrapper.lighten [type=checkbox]:not(:checked) + label:after,
.wrapper.lighten [type=checkbox]:checked + label:after {
  color: #192D45;
}
.wrapper.lighten [type=checkbox]:not(:checked) + label:before,
.wrapper.lighten [type=checkbox]:checked + label:before {
  background: #ECEBE9;
}
.wrapper.lighten .task__delete-btn {
  stroke: #192D45;
  fill: #192D45;
}
.wrapper.lighten .task__delete-btn:hover {
  opacity: 0.5;
}