html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.container__header {
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.wrapper.darken {
  background: #223542;
}
.wrapper.darken .switch-theme-btn {
  border: none;
  background: inherit;
  stroke: #CB9821;
  fill: #CB9821;
  cursor: pointer;
  -webkit-transition: fill 0.3s, stroke 0.3s;
  transition: fill 0.3s, stroke 0.3s;
}
.wrapper.darken .switch-theme-btn:hover {
  fill: #e3b955;
  stroke: #e3b955;
}

.wrapper.lighten {
  background: #ECEBE9;
}
.wrapper.lighten .switch-theme-btn {
  border: none;
  background: inherit;
  stroke: #29354B;
  fill: #29354B;
  cursor: pointer;
  -webkit-transition: fill 0.3s, stroke 0.3s;
  transition: fill 0.3s, stroke 0.3s;
}
.wrapper.lighten .switch-theme-btn:hover {
  fill: #44587c;
  stroke: #44587c;
}