@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@300;400;700&family=Kablammo&family=Raleway:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  font-family: "Inter", sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  font-size: 18px;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__header {
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

form {
  position: relative;
}

.task {
  margin-top: 50px;
  padding-bottom: 50px;
}

.task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding-left: 30px;
}

.task__list-item {
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task__check-btn {
  margin-right: 20px;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #686461;
  background: inherit;
  padding: 2px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  cursor: pointer;
}
.task__check-btn svg {
  display: none;
}
.task__check-btn svg.check-btn__svg--done {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  pointer-events: none;
}

.task__text-task--done {
  text-decoration: line-through;
  opacity: 0.8;
}

.task__delete-btn {
  border: none;
  background: inherit;
  cursor: pointer;
  margin-left: auto;
  margin-right: 30px;
  -webkit-transition: stroke 0.4s ease-in-out, fill 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: stroke 0.4s ease-in-out, fill 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.task__delete-btn svg {
  pointer-events: none;
}

.wrapper.darken {
  color: #D6DFE8;
  background: #142028;
}
.wrapper.darken .switch-theme-btn {
  border: none;
  background: inherit;
  stroke: #CB9821;
  fill: #CB9821;
  cursor: pointer;
  -webkit-transition: fill 0.3s, stroke 0.3s;
  transition: fill 0.3s, stroke 0.3s;
}
.wrapper.darken .switch-theme-btn:hover {
  fill: #e3b955;
  stroke: #e3b955;
}
.wrapper.darken .main-section__title {
  font-size: 60px;
  color: #D6DFE8;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input {
  width: 100%;
  background: #697888;
  color: #D6DFE8;
  border: none;
  outline: none;
  padding: 17px 25px;
  font-size: 22px;
  border-radius: 30px;
  padding-right: 80px;
  font-family: "Inter", sans-serif;
  margin-top: 80px;
  -webkit-transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::-webkit-input-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::-moz-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input:-ms-input-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::-ms-input-placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__input::placeholder {
  color: #D6DFE8;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__btn {
  position: absolute;
  top: 96px;
  right: 23px;
  border: none;
  background: inherit;
  color: #D6DFE8;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.darken .main-section__btn:hover {
  opacity: 0.7;
}
.wrapper.darken .task__list {
  color: #D6DFE8;
}
.wrapper.darken .task__check-btn {
  stroke: #ECC424;
  fill: #ECC424;
}
.wrapper.darken .task__delete-btn {
  stroke: #D6DFE8;
  fill: #D6DFE8;
}
.wrapper.darken .task__delete-btn:hover {
  opacity: 0.5;
}

.wrapper.lighten {
  color: #192D45;
  background: #ECEBE9;
}
.wrapper.lighten .switch-theme-btn {
  border: none;
  background: inherit;
  stroke: #29354B;
  fill: #29354B;
  cursor: pointer;
  -webkit-transition: fill 0.3s, stroke 0.3s;
  transition: fill 0.3s, stroke 0.3s;
}
.wrapper.lighten .switch-theme-btn:hover {
  fill: #44587c;
  stroke: #44587c;
}
.wrapper.lighten .main-section__title {
  font-size: 60px;
  color: #192D45;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input {
  width: 100%;
  background: #ced6dd;
  color: #192D45;
  border: none;
  outline: none;
  padding: 17px 25px;
  font-size: 22px;
  border-radius: 30px;
  padding-right: 80px;
  font-family: "Inter", sans-serif;
  margin-top: 80px;
  -webkit-transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::-webkit-input-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::-moz-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -moz-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input:-ms-input-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::-ms-input-placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -ms-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__input::placeholder {
  color: #192D45;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 200;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__btn {
  position: absolute;
  top: 96px;
  right: 23px;
  border: none;
  background: inherit;
  color: #192D45;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.wrapper.lighten .main-section__btn:hover {
  opacity: 0.7;
}
.wrapper.lighten .task__list {
  color: #192D45;
}
.wrapper.lighten .task__check-btn {
  stroke: #192D45;
  fill: #192D45;
}
.wrapper.lighten .task__delete-btn {
  stroke: #192D45;
  fill: #192D45;
}
.wrapper.lighten .task__delete-btn:hover {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .task__list {
    padding-left: 0;
  }
  .task__delete-btn {
    margin-right: 0;
  }
}