@mixin switchThemeButton($stroke, $fill) {
    border: none;
    background: inherit;
    stroke: $stroke;
    fill: $fill;
    cursor: pointer;
    transition: fill .3s, stroke .3s;
    &:hover {
        fill: lighten($fill, 15%);
        stroke: lighten($fill, 15%);
    }
}

@mixin title($color) {
    font-size: 60px;
    color: $color;
    text-align: center;
    margin-top: 50px;
    transition: color .4s ease-in-out;
}