@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@300;400;700&family=Kablammo&family=Raleway:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@600&display=swap');

html {
    box-sizing: border-box;
    line-height: 1.15;
    font-family: 'Inter', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    font-size: 18px;
    transition: background .4s ease-in-out;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}
.container__header {
    padding: 20px 15px;
    display: flex;
    justify-content: end;
}
form {
    position: relative;
}
.task {
    margin-top: 50px;
}
.task__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 30px;
}
.task__list-item {
    transition: color .4s ease-in-out;
    display: flex;
}
.task__check-btn {
    margin-right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #686461;
    background: inherit;
    padding: 2px;
    transform: translateY(-5px);
    cursor: pointer;
   
}

.task__delete-btn {
    border: none;
    background: inherit;
    cursor: pointer;
    margin-left: auto;
    margin-right: 30px;
    transition: stroke .4s ease-in-out, fill .4s ease-in-out, opacity .4s ease-in-out;

    svg {
        pointer-events: none;
    }
}



.wrapper.darken {
    color: $darkMainFontColor;
    background: $darkBackgroundColor;
    .switch-theme-btn {
        @include switchThemeButton(#CB9821, #CB9821);
    }
    .main-section__title {
        @include title($darkMainFontColor);
    }
    .main-section__input {
        @include inputTask(#697888, $darkMainFontColor, $darkMainFontColor);
    }
    .main-section__btn {
        @include addBtn($darkMainFontColor);
    }
    .task__list {
        color: $darkMainFontColor;
    }
    .task__check-btn {
        stroke:  #ECC424;
        fill: #ECC424;
    }

    .task__delete-btn {
        @include deleteBtn($darkMainFontColor);
    }
}

.wrapper.lighten {
    color: $lightMainFontColor;
    background: $lightBackgroundColor;

    .switch-theme-btn {
        @include switchThemeButton(#29354B, #29354B);
    }
    .main-section__title {
        @include title($lightMainFontColor);
    }
    .main-section__input {
        @include inputTask(#ced6dd, $lightMainFontColor, $lightMainFontColor);
    }
    .main-section__btn {
        @include addBtn($lightMainFontColor);
    }
    .task__list {
        color: $lightMainFontColor;
    }

    .task__check-btn {
        stroke:  $lightMainFontColor;
        fill: $lightMainFontColor;
    }

    .task__delete-btn {
        @include deleteBtn($lightMainFontColor);
    }
}
